* {
  background-color: black;
  color: white;
  font-family: "Product Sans", sans-serif;
}

h1 {
  background: linear-gradient(
    to right,
    rgb(12, 116, 219) 50%,
    rgb(8, 221, 241) 30%
  );
  background-clip: text;
  color: transparent;
  text-align: center;
}

.heading {
  font-size: 30px;
  width: 550px;
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 31%,
    rgba(0, 212, 255, 1) 100%
  );
}

hr {
  border: none;
  background: linear-gradient(to right, transparent, yellow, transparent);
  height: 4px;
}

#Salaar-title {
  font-size: xx-large;
  color: aqua;
}
img {
  box-shadow: 3px 3px 35px rgba(54, 13, 217, 0.967);
  margin: 30px;
  border-radius: 10px;
}

video {
  box-shadow: 3px 4px 30px rgb(140, 4, 203);
  margin: 40px;
}
